<template name="navbar">
	<div class="navbar navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</a>
				<a class="brand scroller" data-section="html" href="index.html">Paytagz</a>
				<div class="nav-collapse collapse">
					<ul class="nav pull-right">
						<li><a href="#" class="scroller" data-section="#about">About</a></li>
						<li><a href="#" class="scroller" data-section="#team">The Team</a></li>
						<li><a href="#" class="scroller" data-section="#contact">Contact us</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</template>
