<template name="about">
	<div class="container-fluid" id="about">
		<div class="container light">
			<h1>What can we offer</h1>
			<ul class="thumbnails">
				<li class="span4">
					<div class="thumbnail">
						<img alt="" src="/img/icon1.png">
						<h3>Monetize Your Social Network</h3>
						<p>Once you sign up you can receive payments from any twitter account associated with Paytagz.</p>
					</div>
				</li>
				<li class="span4">
					<div class="thumbnail">
						<img alt="" src="/img/icon2.png">
						<h3>Be the Best at Social Networking</h3>
						<p>You have a lot of followers!  Now you need to turn them into customers.</p>
					</div>
				</li>
				<li class="span4">
					<div class="thumbnail">
						<img alt="" src="/img/icon3.png">
						<h3>Cut Out the Middle Man</h3>
						<p>No more need for links that have low conversion rates.</p>
					</div>
				</li>
			</ul>
		</div>
	</div>
</template>
