<template name="team">
    <div class="container-fluid" id="team">
        <div class="container dark">
            <h1>Meet the team</h1>
            <ul class="thumbnails">
                <li class="span4">
                    <div class="thumbnail">
                        <img alt="Kris Hamoud" src="/img/kris.png">
                        <h3>Kris</h3>
                        <p>I write beautiful code.</p>
                        <div class="social">
                            <img alt="linkedin" src="/img/linkedin.png">
                            <img alt="twitter" src="/img/twitter.png">
                            <img alt="facebook" src="/img/facebook.png">
                            <img alt="email" src="/img/email.png">
                        </div>
                    </div>
                </li>

                <li class="span4">
                    <div class="thumbnail">
                        <img alt="Brayton Williams" src="/img/brayton.png">
                        <h3>Brayton</h3>
                        <p>Advisor</p>
                        <div class="social">
                            <img alt="linkedin" src="/img/linkedin.png">
                            <img alt="twitter" src="/img/twitter.png">
                            <img alt="facebook" src="/img/facebook.png">
                            <img alt="email" src="/img/email.png">
                        </div>
                    </div>
                </li>

                <li class="span4">
                    <div class="thumbnail">
                        <img alt="Adam Draper" src="/img/adam.png">
                        <h3>Adam</h3>
                        <p>Advisor</p>
                        <div class="social">
                            <img alt="linkedin" src="/img/linkedin.png">
                            <img alt="twitter" src="/img/twitter.png">
                            <img alt="facebook" src="/img/facebook.png">
                            <img alt="email" src="/img/email.png">
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</template>
